body {
    background-color: #c4ddec;
}

h1 {
    font-size: 70px;
    margin-top: 40px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 30px;
}

.form-control {
    background-color: #ddf2ff;
    margin-top: 10px;
    max-width: 400px;
}

label {
    margin-bottom: 5px;
}

select {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    margin-top: 20px;
    margin-bottom: 40px;
}